<%= render "layouts/frame" %>
<% provide(:title, "show") %>

<div class="container">
  <div class="row">
    <div class="col-auto">
      <p>show</p>
    </div>
    <div class="col mx-auto">
      <%= yield %>
    </div>
  </div>
</div>