<div class="container">
  <div class="row justify-content-center">
    <div class="col-ex-10 col-md-10 ">
      <canvas class="" id="paper"></canvas>
      <p class="bg-info" id="test">キャンバス↑</p>
      <button class="btn btn-info move-btn" id="test-btn">ボタン</button>
      <div class="abs">
        <div class="mt-3" id="moving-box"></div>
        <p id="moving-text">右から左へ受け流す</p>
      </div>
      
    </div>
  </div>
</div>