<%= render 'layouts/frame', title: "homes_index" do %>
  <ul>
    <!--cssでなんとかする-->
    <li><%= link_to "post_image_index", post_images_path %></li>
    <li><%= link_to "usres_index", users_path %></li>
  </ul>
<% end %>