<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-3 col-md-4 col-sm-8">
      <h1 class="jquery">hello world!</h1>
      <!--<div>-->
        <%= image_tag 'sheep.png', class: "position-relative" %>
        
        <span class="element inactive ruby">
          <%= image_tag 'ruby.png', class: "position-absolute", style: "left: 15px;" %>
        </span>
        
        <span class="element inactive santa_hat ">
          <%= image_tag 'Santa hat.png', class: "position-absolute", style: "left: 15px;" %>
        </span>
        
      <!--</div>-->
    </div>
    <div class="col-md-1 col-sm-4 mt-5">
      <button type="button" class="ruby-btn btn btn-danger mt-3">Ruby</button>
    </div>
    <div class="box1"></div>
  </div>
</div>

<script>
  
  // document.getElementsByClassName('element').style.display = "none";
</script>