<div class="row justify-content-center no-gutters" style="height: 50px; background-color: #aaaaaa">
  <div class="col-10">
    <%= link_to "index", homes_index_path, class:"pl-5 text-light" %>
  </div>
</div>